.export-modal-content {
  .export-description {
    margin-bottom: 1.5rem;
  }

  .export-fields {
    margin-bottom: 1.5rem;
  }

  .export-field-checkbox {
    margin-bottom: 0.5rem;
  }

  .export-options {
    margin-top: 1.5rem;
  }

  .export-option-checkbox {
    margin-bottom: 0.5rem;
  }
}

.cancel-button {
  margin-right: 0.5rem;
}
