.profile-form {
  .form-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    .profile-form-input {
      flex: 1;
      margin-bottom: 1rem;
    }
  }

  .email-input {
    margin-bottom: 1rem;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .cancel-button {
    margin-right: 1rem;
  }
}
